@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html {
  background-color: rgba(30, 30, 50, 1);
  min-height: 100vh;
  display: block;
  flex-direction: column;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.Heading {
  text-align: center;
  align-items: center;
  justify-content: center;
}

a:link:not(.sidebarContent, .noLink) {
  color: #61dafb;
}

a:link:not(.sidebarContent, .noLink) {
  color: #61dafb;
  text-decoration: none;
}

a:visited:not(.sidebarContent, .noLink) {
  color: #61dafb;
  text-decoration: none;
}

a:hover:not(.sidebarContent, .noLink) {
  color: #61dafb;
  text-decoration: none;
}

a:active:not(.sidebarContent, .noLink) {
  color: #61dafb;
  text-decoration: none;
}

h1 {
  font-weight: 600;
  font-size: 2em;
}
h2 {
  font-weight: 550;
  font-size: 1.5em;
}
h3 {
  font-weight: 500;
  font-size: 1.3em;
}
h4 {
  font-weight: 450;
  font-size: 1em;
}
h5 {
  font-weight: 400;
  font-size: 0.8em;
}
h6 {
  font-weight: 350;
  font-size: 0.7em;
}
p {
  font-weight: 350;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
  padding: 0px;
  border: 1px solid white;
  border-radius: 5px;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 280px;
  position: fixed;
  height: 100%;
  overflow: auto;
  display: block;
  background-color: rgba(25, 25, 45, 1);
  opacity: 1;
  transition: left 0.3s ease-in-out;
}

div.transbox {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Starlink_Mission_%2847926144123%29.jpg/300px-Starlink_Mission_%2847926144123%29.jpg");
  background-repeat: no-repeat;
  opacity: 1;
}

.sidebar:img {
  opacity: 50%;
}

/* Sidebar links */
.sidebarContent {
  display: flex;
  color: rgb(220, 220, 220);
  padding: 16px;
  text-decoration: none;
  margin: 10px 25px 10px 25px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 1.3em;
  color: white;
  opacity: 0.85;
}

/* Active/current link */
.activeContent {
  background-color: rgb(239, 68, 68);
  color: white;
  opacity: 1;
}

/* Links on mouse-over */
.sidebarContent:hover {
  color: white;
  opacity: 1;
  font-weight: 610;
  text-decoration-line: None;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 280px;
  padding: 0px;
  padding-left: 36px;
  padding-top: 12px;
  background-color: rgba(30, 30, 50, 1);
  color: white;
  justify-content: center;
}

.navbar {
  display: none;
  background-color: rgba(25, 25, 45, 1);
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .navbar {
    display: flex;
  }
  .sidebarContent {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  height: 2.85rem;
  line-height: 2.95rem;
  padding: 0 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
  padding-left: 1.35rem;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5rem;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 1rem 0;
  width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.8rem;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 1.35rem;
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0.25;
}

@media screen and (max-width: 480px) {
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    padding: 0;
    width: 25%;
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: white;
  color: #000 !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  background-color: rgb(240, 240, 250);
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
  background-color: #e5e5e5;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
button.alt,
.button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
  color: rgb(255, 255, 255) !important;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
button.alt:hover,
.button.alt:hover {
  background-color: rgba(75, 75, 125, 0.2);
}

input[type="submit"].alt:active,
input[type="reset"].alt:active,
input[type="button"].alt:active,
button.alt:active,
.button.alt:active {
  background-color: rgba(75, 75, 125, 0.3);
}

input[type="submit"].alt.icon:before,
input[type="reset"].alt.icon:before,
input[type="button"].alt.icon:before,
button.alt.icon:before,
.button.alt.icon:before {
  color: #bbb;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
  background-color: rgb(206, 64, 73);
  color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
  background-color: rgb(211, 95, 103);
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
  background-color: rgb(206, 64, 73);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  overflow: overlay;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(30, 30, 50, 1);
  display: initial;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 90);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(60, 60, 80);
}

/* .sidebar-bg {
  background: url("img/sidebarbg.png") no-repeat bottom;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-size: contain;
  opacity: 0.4;
} */

.center {
  border: none;
  display: inline-block;
  width: 60%;
  justify-content: center;
}

.inputdiv {
  padding: 0px;
  margin: 0px;
}

input {
  background-color: rgba(25, 25, 45, 0);
}

input:focus {
  outline: none;
}

.noLink:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(35, 35, 55);
}